.padin { padding: 0 0.8em; }
.main h2 { font-size:1.5em; font-weight:bold; margin:0.2em 0 0.5em; }
#flow_wx { font-size:0.8em; }
#flow_wx #wx_icon { width:5em; height:5em; background:url("http://wapimg.52zine.com/image/jfrw/4.2/wx_icon.png") no-repeat 0 0; background-size:18em; position:fixed; right:0.5em; top:40%; }
#flow_wx #wx_copy { width:18em; height:12em; background:url("http://wapimg.52zine.com/image/jfrw/4.2/wx_icon.png") no-repeat 0 -5.8em; background-size:22em; position:fixed; left:50%; top:50%; margin-left:-9em; margin-top:-5em; text-align:center; padding:3em 0 0; box-sizing:border-box; overflow:hidden; display:none; }
#flow_wx #wx_copy span { font-size:2em; color:#fff; background:#086116; padding:0 0.2em 0.1em; }
#flow_wx #wx_copy em { font-size:1em; line-height:1em; color:#666; margin:0.8em 0; display:inline-block; }
#flow_wx #wx_copy i { width:1.5em; height:1.5em; background:url("http://wapimg.52zine.com/image/jfrw/4.2/wx_icon.png") no-repeat -9.2em 0; background-size:22em; display:inline-block; vertical-align:middle; }
#flow_wx #wx_copy b { font-size:0.8em; color:#9d9d9d; margin-left:0.5em; }
#flow_wx #wx_copy p { position:absolute; right:1.5em; top:1em; width:2em; height:2em; }
.top_data { border-bottom:1px solid #e7e7e7; overflow:hidden; font-size:0.8em; padding-bottom:0.5em; }
.rig_sc { float:right; }
.rig_sc span { color:#6187ac; }
.rig_sc a { display:inline-block; color:#333; margin:0 0.2em; padding:0 0.2em; border-radius:0.2em; }
.rig_sc i { width:1.3em; height:1em; margin-bottom:-0.1em; background-size:contain; display:inline-block; }
.cur i { background-size:contain; }
.code_c { padding-bottom: 0.5em; }
.code_c ul { width:100%; overflow: hidden; }
.code_c ul li { width:33.333%; float: left; text-align: center; }
.code_c ul li img { width:100%; max-width: 200px; }
.code_c ul li.changes { background: #ffb6c3; border-top:1px solid #ffb6c3; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-top:0.5em; padding-bottom:0.1em; }
.code_c ul li.changes dl dt { display: inline-block; width:90%; text-align: center; }
.code_c ul li.changes dl dt img { max-width: 178px; width:100%; }
.code_c ul li.changes dl dd { color:#fff; word-break:break-all; }
.detaillist { margin: 20px 5px 0; text-align: left; }
.detaillist .detail { border-top:1px solid #ddd; min-height:40px; line-height:20px }
.detaillist .detail .title { position:relative; line-height:24px; padding:6px 10px 6px 10px; font-size:14px; color:#999999 }
.detaillist .detail .title span { font-size:12px; line-height:24px; display:inline-block; margin-left:5px }
.detaillist .detail .title .arr { background:#aaa; border-radius:3px; padding:0 8px; color:#fff; font-size:14px }
.detaillist .detail .title .louzhu { background:#3383e1 }
.detaillist .detail .content_box .content { line-height:24px; display:block; color:#333; font-size:16px; padding: 0 10px; word-break:break-all }
.detaillist .detail .content_box .content .quote_reply { background:#f2f2f2; border:#e7e7e7 1px solid; border-radius:3px; font-size:14px; line-height:24px; margin:0 0 10px; padding:10px }
.detaillist .detail .content_box .content .quote_reply span { color:#999; margin-bottom:5px; display:inline-block }
.detaillist .detail .content_box small { margin:8px 0px 8px 10px; height:20px; line-height:20px; color:#999 }
.detaillist .detail .content_box span { line-height:22px }
.detaillist .detail .content_box span a { color:#3360a6; display:inline-block; line-height:22px; text-align:center }
.detaillist .detail .content_box span a i { width:15px; height:15px; display:inline-block; margin:0 5px 0 0; position:relative; top:4px }
.detaillist .detail .content_box span a .huifu { background-position:-40px -20px }
.detaillist .detail .content_box .post_handle { padding:0 10px 15px }
.detaillist .detail .content_box .post_handle .child_col { display:block; -moz-box-flex:1; -webkit-box-flex:1; width:48% }
.detaillist .detail .content_box .post_handle .reply, .detaillist .detail .content_box .post_handle .praise { border-radius:4px; display:block; font-size:20px; line-height:43px; height:43px; text-align:center }
.detaillist .detail .content_box .post_handle .reply i, .detaillist .detail .content_box .post_handle .praise i { display:inline-block; width:21px; height:18px; position:relative; top:2px; margin-right:5px }
.detaillist .detail .content_box .post_handle .reply { border:1px solid #BFDFFF; background-color:#F0F8FF; color:#398CE0 }
.detaillist .detail .content_box .post_handle .reply .lz_huifu { background-position:0px -695px }
.detaillist .detail .content_box .post_handle .praise { border:1px solid #FFBFBF; background-color:#FFECEC; color:#F1474A }
.detaillist .detail .content_box .post_handle .praise .lz_zang { background-position:-40px -695px }
.reply_box { color:#000000; font-family:STHeiti Light; margin-bottom:10px }
.quote { position:relative; padding:0 10px; background-color:#eeeeee; border:1px solid #dddddd; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px }
.arrow { position:absolute; width:24px; height:13px; left:6%; bottom:-13px; }
.quote p { font-size:14px }
.quote p.info { color:#666666 }
.quote .nickname { color:#666666 }
.fl { float:left; font-size:14px; }
.fr { float:right }
