
<html>
<head>
    <title>{$title.title}</title>
    <meta charset="utf-8">
    {block name="css"}{/block}
    <!--底部文字广告-->
    <link href="__CSS__/al1.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__CSS__/gdt-style.css">
<body>
<div class="side-bar">
    <img class="icon-qq" style="width:138px;height:138px;" src="__STATIC__/images/0.gif" alt="wechat">
</div>

<div class="btcode" style="background: #fe4245;">
    娜娜老师个人微信：<strong>&nbsp;catchan1006 &nbsp;</strong> （非公众微信号）
</div>


<!--主体-->
{block name="body"}{/block}

<!--底部-->
<div class="layui-footer footer">
    <div class="layui-main">
        <p>2016 &copy; <a href="https://github.com/xiayulei/think_admin" target="_blank">Think Admin</a></p>
    </div>
</div>
{block name="js"}{/block}
<!--页面JS脚本-->
{block name="script"}{/block}
</body>
</html>



